body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#menu {
    display: none;
    position: absolute;
    top: 60px; /* Ajuste conforme necessário para evitar sobreposição com o cabeçalho */
    left: 0;
    background-color: #333;
    width: 100%;
}
  
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#menu li {
    padding: 10px;
}
  
#menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
.hidden {
    display: none;
}
  
#menu-icon,
#close-icon {
    font-size: 30px;
    cursor: pointer;
}








.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.card-project {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.link-ver_mais{
    text-decoration: none;
    color: rgb(0, 0, 0); /* Cor padrão */
}

.link-ver_mais:visited {
    color: rgb(0, 0, 0); /* Cor para links visitados */
}

.link-ver_mais:hover {

    color: rgb(5, 128, 250); /* Cor quando o mouse passa por cima */
}

















/* Adicione estilos personalizados aqui */
.whatsapp-icon {
  font-size: 30px; /* Tamanho do ícone */
  background-color: #f4f4f4; /* Cor de fundo */
  color:#128c7e ; /* Cor do ícone */
  padding: 15px; /* Espaçamento interno */
  border-radius: 10%; /* Bordas arredondadas para criar um círculo */
  text-decoration: none; /* Remover sublinhado do link */
  display: inline-block; /* Permite ajustar o tamanho do contêiner */
  position: fixed;
  bottom: 25px;
  right: 20px;

}

.whatsapp-icon:hover {
    color: #25d366;
}